@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-roboto: 'Roboto', sans-serif;

  --color-brown-600: #26231E;
  --color-brown-500: #43403B;
  --color-brown-400: #75716B;
  --color-brown-300: #DAD6D1;
  --color-brown-200: #EFEEEB;
  --color-brown-100: #F9F8F6;

  --color-orange:      #F2B68C;
  --color-green:       #12B279;
  --color-green-light: #D7F2E9;
  --color-red:         #EB5164;

  --text-h1:    52px;
  --text-h2:    40px;
  --text-h3:    24px;
  --text-h4:    20px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-body3: 12px;
}

body {
  margin: 0;
  font-family: var(--font-roboto);
  background-color: var(--color-brown-100);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
